<app-navbar></app-navbar>

<header class="py-2 px-8 bg-gray-100 shadow-inner h-16">
  <nav aria-label="Breadcrumb" class="text-gray-600">
    <ol class="list-none flex items-center space-x-6 text-sm">
      <div>
        <li>
          <a routerLink="">Home</a>
        </li>
      </div>
    </ol>
    <h1 class="text-xl font-bold text-gray-900">My Tasks</h1>
  </nav>
</header>

<div class="ml-8 mt-10 grid grid-cols-3">
  <div class="mr-8">
    <h1 class="text-lg text-gray-500 mb-2">
      <span class="bg-primary-gradient px-1.5 rounded-xl mr-2"></span>Users
    </h1>
    <div class="flex justify-between">
      <article
        class="p-4 relative rounded-md border border-gray-100 bg-white shadow-lg w-full"
      >
        <div class="flex flex-col justify-between h-full">
          <header class="flex flex-col space-y-1">
            <img
              [src]="'https://avatar.tobi.sh/1'"
              alt="Siddhi"
              width="60"
              height="60"
              class="rounded-full"
            />
            <p class="text-lg font-medium">Siddhi Patel</p>
            <div class="text-sm">
              <p class="text-gray-400">siddhiexample.com</p>
              <p class="text-gray-400">
                Role <span class="text-gray-900">Admin</span>
              </p>
            </div>
            <div class="pt-4 text-sm">
              <div>
                <p class="text-gray-400">
                  Since <span class="text-gray-900">01 Jan, 2024</span>
                </p>
              </div>
            </div>
          </header>
        </div>
      </article>
    </div>
  </div>
</div>


<!-- invite user  -->
<div class="ml-8 mt-10 grid grid-cols-3">
    <div class="mr-8">
      <h1 class="text-lg text-gray-500 mb-2">
        <span class="bg-primary-gradient px-1.5 rounded-xl mr-2"></span>Invites Sent
      </h1>
      <div class="flex justify-between">
        <article
          class="p-4 relative rounded-md border border-dashed border-gray-700 bg-gray-200 shadow-lg w-full"
        >
        <div class="items-center justify-center flex text-gray-500 py-10" >
            <i class="ri-add-line bg-white px-1 mr-2 rounded"></i>
            <p class="font-medium">Invite User</p>
        </div>
          
        </article>
      </div>
    </div>
  </div>