<app-navbar></app-navbar>

<header class="py-2 px-8 bg-gray-100 shadow-inner h-16">
  <nav aria-label="Breadcrumb" class="text-gray-600">
    <ol class="list-none flex items-center space-x-6 text-sm">
      <div class="flex space-x-1">
        <li>
          <a routerLink="/dashboard/home">Home</a>
        </li>
        <li>
          <i class="ri-arrow-right-s-line"></i>
        </li>
        <li>
          <a routerLink="/dashboard/projects">Projects</a>
        </li>
        <li>
            <a routerLink="/dashboard/projects">Task.it</a>
          </li>
      </div>
    </ol>
    <h1 class="text-xl font-bold text-gray-900">Task.it UI</h1>
  </nav>
</header>

<div class="flex gap-4">
    <div class="bg-gray-200 w-50 h-full p-4 ml-8 mt-4" >

    </div>
</div>