<header class="py-2 px-8 bg-gray-100 shadow-inner h-16">
    <nav aria-label="Breadcrumb" class="text-gray-600">
      <ol class="list-none flex items-center space-x-6 text-sm">
        <ng-container *ngFor="let item of breadcrumbs">
          <li>
            <a [routerLink]="item.link">{{ item.label }}</a>
          </li>
        </ng-container>
      </ol>
    </nav>
    <div>
      
      <ng-template #titleSection>
        <h1 class="text-xl font-bold">{{ title }}</h1>
      </ng-template>
    </div>
  </header>